@use "variables" as v;
@use "mixins" as m;


html{
    margin:0%;
    height:100%;
}
body {
    position:static;
    height:100%;
    margin:0;
    .welcome__page {
        position: static;
        display:flex;
        background-image: url('../assets/negative-space-black-forest-dawn.jpg');
        height:100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        .scrollarrow_box {
            position:absolute;
            height: 100%;
           font-size:45px;
           display:flex;
           align-items: flex-end;
           flex-direction: row;
            margin-bottom:10px;
                color:v.$colorwhite;
         
         a:visited,a:focus,a:active { 
            text-decoration: none; 
            color:black;
        
        }
        
        }
        .welcome__page_image {
    
            display: flex;  
        }
        .welcome__page__title {
            text-align: center;
            color:v.$colorwhite;
            font-size:24px;
        }
        .welcome__page__text {
            text-align: center;
            color:v.$colorwhite;
    
        }
    
    }
    .about {
        display:flex;
        flex-direction: column;
        text-align: center;
        position:static;
        flex-basis:100%;
        @include m.desktop {            
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
.flexignore {
    width:100%;
        .about__title{
            text-align:center;
            font-size:32px;         
        }
    }
        .about__profile {        
            display:flex;   
            justify-content: center;
            align-items: center;      
            @include m.desktop {
                flex:50%;
                
                
            }
            
            .about__profile__name {
            }
            .about__profile__picture {
         height:250px;
         width:250px;
         border-radius: 50%;
         box-shadow: 0px 0px 25px #888888;
         @include m.desktop {
        height:325px;
        width:325px; 
        }
            }
            .about__profile__description {
                display:flex;
                height:100px;
                background-color: lightgray;
                border-radius: 5%;
                margin:45px;
                padding:5px;
                .about__profile__description__text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size:18px;
                    margin:0;
                    padding:15px;
                    gap:10px;
                }
                .fa-quote-right {
                    font-size:32px;
                }
            }
        
        }
        .scrollarrow_box_about{
            font-size:45px;
             margin-bottom:10px;
             color:white;
             @include m.desktop {
                width:100%;
             }
          
          a:visited,a:focus,a:active { 
             text-decoration: none; 
             color:black;
         
         }
         }
        }
        .contact {
            height:60vh;
            background-color: black;
            color:white;
            display:flex;
            justify-content: center;
            align-items: center ;
            flex-direction: column;
            font-size:20px;
            padding:20px;
            @include m.desktop {
                height:15vh;
                display:block;

            }
            .contact__container {
                display:flex;
                flex-direction: column;
                justify-content: space-around;
            height:100%;
            margin:0;
            text-align:left;
            @include m.desktop {
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
            .contact__information {
                margin:10px;
            }
            .contact__information__details {
            
                margin:15px;
            }
            .contact__information__socialmedia {
                color:white;
                margin-top:10px;    
            }
        }
        }
        
    

}






/*Hamburger meny*/
.top-nav {
position:absolute;
    display: flex;
    top:0;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color: rgba(255, 255, 255, 0.1);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: v.$colorwhite;
    height: 6%;
    width: 100%;
    text-align: right;
    a {
      text-decoration: none;
      color: v.$colorwhite;
      &:hover {
        color: v.$colorwhite;
        text-decoration: underline;
      }
    }
  }


  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-size: 1.5em;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height:5px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 10px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -9px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 9px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(140deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-140deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
       height: 1.2em;  
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
    }
   
  }