html{
    margin:0%;
    height:100%;
}
body {
    height:100%;
    margin:0;

}


.welcome__page {
    display:flex;
    background-image: url('../assets/negative-space-black-forest-dawn.jpg');
    height:100vh;
    width:100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;

    .welcome__page_image {

        display: flex;  
    }
    .welcome__page__title {
        text-align: center;
        color:white;
        font-size:24px;
    }
    .welcome__page__text {
        color:white;
        text-align: center;
        font-size:18px;

    }
}
.about {
display:flex;
flex-direction: column;
text-align: center;
.about__title{
    text-align:center;
}

.about__profile {
    display:flex;   
    justify-content: center;
    align-items: center;
    .about__profile__name {
    }
    .about__profile__picture {
 height:250px;
 width:250px;
 border-radius: 50%;
    }
    .about__profile__description {
        display:flex;
        justify-content: center;
        align-items: center;
        height:50px;
        background-color: lightgray;
        margin:0;
        padding:10px;
        border-radius: 5%;
        width:75vw;
    }
}
}

.contact {
    background-color: black;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    .contact__information {
    }
    .contact__information__details {
    }
    .contact__information__socialmedia {
    }

}